//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

/*
@import "~bulma/sass/utilities/initial-variables";

$family-sans-serif: 'Noto Sans JP';
$footer-background-color: #fff;

@import "~bulma";
*/

@import "~bulmaswatch/superhero/variables";

$code: $primary;
$button-text-decoration: none;
$button-text-hover-background-color: rgb(0, 0, 0, 0.2);
$navbar-bottom-box-shadow-size: 0 0 0 0;
$input-icon-active-color: $text;

@import '~bulma-slider';  // FIXME: Must be appeared before '~bulma'
@import "~bulma";
@import '~@creativebulma/bulma-tagsinput';
@import "~bulmaswatch/superhero/overrides";

@import "./preview/components/styles/Common.scss";
@import "./preview/components/styles/MDXContent.scss";
@import "./preview/components/layout/Header.scss";
@import "./preview/components/layout/Layout.scss";
@import "./preview/components/localized/IntroductionI18N.scss";
@import "./preview/components/TableOfContents.scss";
@import "./preview/pages/Index.scss";
